
/* patching */

.patchHole {
	border-radius: 16px;
	margin: 0;
	padding: 0 5px 0 5px;
	cursor: url('img/jack-cursor.png'), auto;
	border: 3px solid silver;
	background-color: black;
}

#patchCableContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;

	/* allows elements to not receive hover/click events, instead the event will occur on anything behind it. */
	pointer-events: none;
}
	
	#patchCableContainer canvas {
		position: absolute;
	}

fieldset.connectors {
	font-size: 0.8em;
}
	fieldset.connectors>div {
		display: inline-block;
		text-align: center;
	}
		fieldset.connectors>div>div {
			margin: 0 5px 5px 0;
		}
		
.audioPatch {
	background-color: #D53734;
	border: 1px solid #D53734;
	margin: 4px;
	padding: 3px;
	border-radius: 4px;
}

.triggerPatch {
	background-color: #1E926F;
	border: 1px solid #1E926F;
	margin: 4px;
	padding: 3px;
	border-radius: 4px;
}

.controlPatch {
	background-color: #2B4689;
	border: 1px solid #2B4689;
	margin: 4px;
	padding: 3px;
	border-radius: 4px;
}