* {
  box-sizing: border-box;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	color: #fefefe;
	background-color : rgb(254, 253, 199); /* cream */
	margin: 0;
	padding: 0;
}

	body > header {
		padding: 2px 5px 0 5px;
		background-color : rgb(171, 221, 160); /* pale green */
		color : #333;
	}

		body > header a {
			color : #333;
		}

	body > section#pageContent {
		padding: 10px 5px 10px 5px;
		background-color: #2b2b26;
	}

	body > footer {
		padding: 10px 5px 10px 5px;
		background-color: #8a6c46;
	}

h1 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

	h1 a {
		text-decoration: none;
	}

h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

a {
	color: #fff;
}

	a:hover {
		color: #333;
		background-color: yellow;
	}

/* make the patch cables go away when hovering patch holes,
to ensure a patch hole can be clicked
(instead of the cable capturing the click) */
.hideMe {
	visibility: hidden;
}
		
.hidden {
	display: none;
}