/********************************************Style slider input range thumb***********************************************/
/*input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #ece2e6;
  background: #141212;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #ece2e6;
  background: #141212;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #ece2e6;
  background: #141212;
  cursor: pointer;
}*/
/********************************************Style slider-vertical**********************************************/
input[type=range].slider-vertical {
	/* 
		NB - NOT CROSS-BROWSER
	*/
	-webkit-appearance: slider-vertical;
    -moz-transfrom: rotate(270deg);
	height: 129px;
	width: 21px;
}
div.slider-vertical {
	display: inline-block;
}
span.slider-vertical {
	display: block;
	width: 21px;
	text-align: center;
}
output.slider-vertical {
	/*display: block;*/
	/*width: 21px;*/
}
/********************************************Style shadow slider***********************************************/
input[type=range].shadowrange {
	width: 0;
	margin-left: 8px;
}
	input[type=range].shadowrange::-webkit-slider-thumb {
		visibility: hidden;
	}
	input[type=range].shadowrange::-moz-range-thumb {
		visibility: hidden;
	}
	input[type=range].shadowrange::-ms-thumb {
		visibility: hidden;
	}
/********************************************Style knob***********************************************/
div.knob {
	display: inline-block;
	text-align: center;
}
	div.knob > div {
		margin: auto;
	}

/*dirty hack. only wanted for knobs*/
* {
	outline: none;
}
