.gear {
	border: 2px solid white;
	background-color : #E4E4E4;
	display: flex;
	flex-direction: column;
	margin: 1px;
}

	.gear .module {
		border: none;
	}

	.gear .title {
		background-color: #DC8585;
		text-align: center;
		color: black;
	}