
/* sound generation and modification modules */

.moduleRow {
	display: tablre-row;
	margin: 0 0 4px 0;
}

	.moduleRow>div {
		display: table-cell;
		vertical-align: top;
	}

		.placeholderModule {
			border: 2px solid transparent;
			margin: 0 3px 3px 0;
			padding: 3px;
			min-width: 184px;
			font-size: 0.8em;
		}

		.module {
			border: 2px solid white;
			display: inline-block;
			margin: 0 3px 3px 0;
			padding: 3px;
			width: 200px;
			overflow: hidden;
			font-size: 0.8em;
			color: black;
			height: 100%;

			/* default background color for modules */
			background-color : rgb(247, 238, 209); /* off white */

			/*Vertical align connectors to bottom*/
			/*Disabling this because it destroys knob.js*/
			/*position: relative;
			padding-bottom: 74px;*/
		}

			.module header {
				text-align: center;
				font-size: 1.2em;
			}

			.module output,
			.module div#keyboardNoteInput  {
				/*vertical-align: super;*/
				font-size: 0.8em;
				background: black;
				color: lime;
				border-radius: 5px;
				/*padding: 0 0 0 2px;*/
				text-align: center;
				display: block;
			}

			.module fieldset {
				border-color: white;
			}

				.module fieldset.verticalAligned {
					display: inline-block;
					vertical-align: top;
				}

				/* Style similar to the Schmidt analog synthesizer 
					work in progress
				*/

				.module fieldset.schmidtAnalogSynth {
					border-top: 6px solid white;
					position: relative;
					border-radius: 8px;
					padding: 10px 0 3px 3px;
				}

					.module fieldset.schmidtAnalogSynth legend {
						background-color: white;
						margin: 0;
						margin-top: 5px;
						vertical-align: bottom;
						position: absolute;
						top: -11px;
						border-radius: 0 0 4px 4px;
						margin: 5px 0 0 8px;
					}

				/* END Style similar to the Schmidt analog synthesizer */

				.module fieldset.connectors {
					/*Vertical align connectors to bottom*/
					/*Disabling this because it destroys knob.js*/
					/*position: absolute;
					bottom: 10px;
					width: 175px;*/
				}

			.module .sectionName {
				text-align: center;
				display: inline-block;
				width: 100%;
			}

			.genericmodule {
				background-color: rgb(247, 98, 247);
			}

			.oscillator {
				background-color: rgb(247, 229, 98);
			}

			.gain {
				background-color: rgb(247, 98, 128);
			}

			.filter {
				/*background-color: rgb(247, 128, 98);*/
				background-color : rgb(255, 142, 108);
			}

			.delay {
				background-color: rgb(98, 247, 128);
			}

			.convolver {
				background-color: rgb(247, 199, 98);
			}

			.compressor {
				/*background-color: rgb(247, 98, 110);*/
				background-color : rgb(241, 193, 9);
			}

			.audioContextDestination {
				/*background-color: rgb(98, 134, 247);*/
				background-color : rgb(136, 200, 122);
			}

			.mediastreammodule {
				background-color: rgb(98, 199, 247);
			}

			.waveshapermodule {
				background-color: rgb(98, 247, 193);
			}

			.fmomodule {
				/*background-color: rgb(231, 231, 15);*/
				background-color : rgb(252, 222, 46);
			}

			.voicemodule {
				/*background-color: rgba(184, 148, 36, 0.59);*/
				background-color : rgb(241, 106, 42);
			}

			.effectsmodule {
				/*background-color: rgb(9, 163, 40);*/
				background-color : rgb(148, 193, 196);
			}

			.mixermodule {
				/*background-color: rgba(141, 36, 9, 0.77);*/
				background-color : rgb(152, 219, 248);
			}

			.analysermodule {
				/*background-color : rgb(121, 37, 54);*/
				background-color : rgb(243, 220, 150); /* sand */
			}

			.mastersectionmodule {
				background-color: rgb(218, 57, 37);
			}

			.harmonicGenerator {
				background-color : rgb(254, 222, 123); /* pale yellow */

			}

			.waveTableOsc {
				background-color : rgb(247, 238, 209); /* off white */
			}

			.audioBuffer {
				background-color: rgb(255, 110, 92);
			}

			.for-future-use {






			}

			.lfomodule {
				background-color: rgb(119, 152, 128);
			}

			.marmodule {
				background-color: rgb(181, 207, 120);
			}

			.egmodule {
				background-color: rgb(152, 119, 152);
			}
			
			.module-2u {
				width: 413px; /*TODO not responsive*/
			}

			.module-3u {
				width: 626px; /*TODO not responsive*/
			}

			.module-4u {
				width: 839px; /*TODO not responsive*/
			}

.parameterLabel {
	font-size: 0.8em;
	vertical-align: text-top;
}
