
/* sound generation and modification modules */

.moduleRow {
	display: flex;
	flex-wrap: wrap;
}

	.moduleRow>div {
		display: flex;
	}

		.placeholderModule {
			border: 2px solid transparent;
			margin: 0 3px 3px 0;
			padding: 3px;
			min-width: 184px;
			font-size: 0.8em;
		}

		.module {
			border: 2px solid white;
			display: flex;
  			flex-direction: column;
			margin: 1px;
			padding: 0;
			width: 204px;
			overflow: hidden;
			font-size: 0.8em;
			color: #F7F7F7;
			background-color : #272727;
		}

			/* flex - align to bottom */
			.module > fieldset.connectors {
				margin-top: auto;
			}

			.module header {
				text-align: center;
				font-size: 1.2em;
				color: black;
			}

			.module output,
			.module div#keyboardNoteInput  {
				/*vertical-align: super;*/
				font-size: 0.8em;
				background: black;
				color: lime;
				border-radius: 5px;
				/*padding: 0 0 0 2px;*/
				text-align: center;
				display: block;
			}

			.module fieldset {
				border-color: #403F3F;
				margin: 3px 0 0 0;
			}

				.module fieldset.verticalAligned {
					display: inline-block;
					vertical-align: top;
				}

				.module fieldset.narrow {
					border: none;
					margin: 0;
					padding: 0;
				}

				/* Style similar to the Schmidt analog synthesizer 
					work in progress
				*/

				.module fieldset.schmidtAnalogSynth {
					border-top: 6px solid white;
					position: relative;
					border-radius: 8px;
					padding: 10px 0 3px 3px;
				}

					.module fieldset.schmidtAnalogSynth legend {
						background-color: white;
						margin: 0;
						margin-top: 5px;
						vertical-align: bottom;
						position: absolute;
						top: -11px;
						border-radius: 0 0 4px 4px;
						margin: 5px 0 0 8px;
					}

				/* END Style similar to the Schmidt analog synthesizer */

			.module .sectionName {
				text-align: center;
				display: inline-block;
				width: 100%;
			}

			.for-future-use {
				background-color: rgb(247, 98, 247);
			}

			.genericmodule {
				background-color: white;
			}

			.oscillator {
				background-color: rgb(247, 229, 98);
			}

			.gain {
				background-color: rgb(247, 98, 128);
			}

			.filter {
				/*background-color: rgb(247, 128, 98);*/
				/*background-color : rgb(255, 142, 108);*/
				background-color: rgb(49, 135, 220);;
			}

			.delay {
				background-color: rgb(98, 247, 128);
			}

			.convolver {
				background-color: rgb(247, 199, 98);
			}

			.compressor {
				/*background-color: rgb(247, 98, 110);*/
				background-color : rgb(241, 193, 9);
			}

			.audioContextDestination {
				/*background-color: rgb(98, 134, 247);*/
				background-color : rgb(136, 200, 122);
			}

			.mediastreammodule {
				background-color: rgb(98, 199, 247);
			}

			.waveshapermodule {
				background-color: rgb(98, 247, 193);
			}

			.voicemodule {
				/*background-color: rgba(184, 148, 36, 0.59);*/
				background-color : rgb(241, 106, 42);
			}

			.effectsmodule {
				/*background-color: rgb(9, 163, 40);*/
				/*background-color : rgb(148, 193, 196);*/
				background-color: rgb(255, 141, 48);
			}

			.mixermodule {
				/*background-color: rgba(141, 36, 9, 0.77);*/
				background-color : rgb(152, 219, 248);
			}

			.analysermodule {
				/*background-color : rgb(121, 37, 54);*/
				/*background-color : rgb(243, 220, 150); sand */
				background-color: rgb(70, 189, 155);
			}

			.mastersectionmodule {
				background-color: rgb(218, 57, 37);
			}

			.harmonicGenerator {
				background-color : rgb(254, 222, 123); /* pale yellow */

			}

			/*
				background-color : rgb(247, 238, 209); /* off white 
			}*/

			.audioBuffer {
				background-color: rgb(255, 110, 92);
			}

			.patchBay {
				background-color: rgb(181, 207, 120);
			}
			
			.externalInputModule {
				background-color : rgb(252, 222, 46);
			}

			.lfomodule {
				background-color: rgb(119, 152, 128);
			}

			.egmodule {
				background-color: rgb(152, 119, 152);
			}

			.stepsequencer {
				background-color: #712094;
				color: #F95CBC;
			}
			
			/*Width of units, inspired by Eurorack HP (horizontal pitch)*/
			.module-1hp {
				width: 101px;
			}
			
			/*module-2hp is the default*/
			
			.module-4hp {
				width: 410px;
			}
			
			.module-5hp {
				width: 513px;
			}
			
			.module-6hp {
				width: 626px;
			}
			
			.module-8hp {
				width: 830px;
			}
			
			.fibredark {
				background:
					radial-gradient(black 15%,transparent 16%) 0 0,
					radial-gradient(black 15%,transparent 16%) 8px 8px,
					radial-gradient(rgba(255,255,255,.1) 15%,transparent 20%) 0 1px,
					radial-gradient(rgba(255,255,255,.1) 15%,transparent 20%) 8px 9px;
				background-color:#282828;
				background-size:16px 16px;
				color: white;
			}
				.fibredark header {
					color: black;
				}
			
			.coolstripes {
				background-color:#000;
				background-image:
					linear-gradient(to right, rgba(255,255,255,.07) 50%, transparent 50%),
					linear-gradient(to right, rgba(255,255,255,.13) 50%, transparent 50%),
					linear-gradient(to right, transparent 50%, rgba(255,255,255,.17) 50%),
					linear-gradient(to right, transparent 50%, rgba(255,255,255,.19) 50%);
				background-size:13px,29px,37px,53px;
				color: white;
			}
				.coolstripes header {
					color: black;
				}
				
			.micromat {
				background:
					radial-gradient(circle at 0 50%,rgba(96,16,48,0) 9px,#000 10px,rgba(96,16,48,0) 11px) 0 10px,
					radial-gradient(at 100% 100%,rgba(96,16,48,0) 9px,#000 10px,rgba(96,16,48,0) 11px),#4a4e40;
				background-size:20px 20px;
				color: white;
			}
				.micromat header {
					color: black;
				}
				
			.darkmat {
				background:
					linear-gradient(27deg,#151515 5px,transparent 5px) 0 5px,
					linear-gradient(207deg,#151515 5px,transparent 5px) 10px 0,
					linear-gradient(27deg,#222 5px,transparent 5px) 0 10px,
					linear-gradient(207deg,#222 5px,transparent 5px) 10px 5px,
					linear-gradient(90deg,#1b1b1b 10px,transparent 10px),
					linear-gradient(#1d1d1d 25%,#1a1a1a 25%,#1a1a1a 50%,transparent 50%,transparent 75%,#242424 75%,#242424);
				background-color:#131313;
				background-size:20px 20px;
				color: white;
			}
				.darkmat header {
					color: black;
				}
			
			.weave {
				background:
					linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
					linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
				background-color:#708090;
				background-size: 64px 128px
			}
			

.parameterLabel {
	font-size: 0.8em;
	vertical-align: text-top;
}

 .module fieldset span {
	font-size: 0.8em;
}

.radioButtonWrapper {
	display: inline-block;
}

.moduleRadioLabel {
	font-size: 0.8em;
}